<div class='span3 dash_widget'>
  <h5 class='heading' ><%= api.cached_screen_name%><i class="icon-twitter pull-right"></i></h5>
  <h2 class='text-info'>
    <%= link_to api.unread_items_count,social_app %>
  </h2>
  <div class='row-fluid'>
    <div class='span6 text-info'><%= api.retweet_count %></div>
    <div class='span6 text-info'><%= api.reply_count %></div>
  </div>
</div>
