<ul class="nav nav-pills">
  <li>
    <%= link_to "Mentions",social_app_path(social_app) %>
  </li>
  <li>
    <%= link_to "Search Results",twitter_search_results_path(social_app) %>
  </li>
  <li>
    <%= link_to "Settings",settings_social_app_path(social_app) %>
  </li>
  <li>
    <%= link_to "Manage Blocking",twitter_blocking_path(social_app) %>
  </li>
</ul>
