<ul class="nav nav-pills">
  <li>
    <%= link_to "Page",social_app_path(social_app) %>
  </li>
  <li>
    <%= link_to "Settings",settings_social_app_path(social_app) %>
  </li>
  <li>
    <%= link_to "Manage Blocking",facebook_blocked_path(social_app) %>
  </li>
</ul>
